* {
  margin: 0;
  box-sizing: border-box;
}

.signIn {
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dcf8c6;
}

.signIn > h4 {
  color: #128c7e;
}

.title {
  display: flex;
  color: #075e54;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
}

.btn > button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #34b7f1;
  cursor: pointer;
}

.chatBox {
  border: 2px solid #075e54;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 2px 2px;
  border: none;
  color: #fff;
  background-color: #128c7e;
}

.me .chatBox {
  background-color: #56afd4;
}

.container {
  display: flex;
}

.container.me {
  flex-direction: row-reverse;
}

.header {
  display: flex;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 15px;
  background-color: #075e54;
}

.header > h3 {
  padding-left: 3px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #34b7f1;
  border-radius: 50%;
  display: inline-block;
}

.inputBox {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  bottom: 0;
  background-color: #dcf8c6;
}

.inputBox input {
  padding: 10px 0;
  flex-grow: 1;
  border-radius: 20px;
  padding-left: 15px;
}

.inputBox button {
  font-family: monospace;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 30px;
  border: none;
  color: #fff;
  background-color: #075e54;
  border-radius: 20px;
  cursor: pointer;
}

.chatContainer {
  height: 90vh;
  overflow-y: scroll;
  border: 1px solid black;
  background: url(./images/bg.jpg);
}
